/* TYPEFACES */

@font-face {
  font-family:"Century-Expanded-Regular";
  src: local("fonts/century-expanded-regular.otf"), 
  url("../fonts/century-expanded-regular.otf");
}

@font-face {
  font-family:"Century-Expanded-Italic";
  src: local("fonts/century-expanded-italic.otf"),
  url("../fonts/century-expanded-italic.otf");
}

@font-face {
  font-family: "Century-Expanded-Bold";
  src: local("fonts/century-expanded-bold.otf"),
  url("../fonts/century-expanded-bold.otf");
}


/*  */

@page {
  size: 8.5in 5.5in;
  break-inside:avoid;
  margin:1in;

  @bottom-center {
    content: counter(page)
  }
  @top-right {
    content: string(title)
  }

  @footnote {
    float:bottom;
  }
}








/* SIDENOTE / MARGIN NOTE */

.annotated {
  width:68%;
}

aside, .sidenote {
  display: inline;
  float:right;
  position:relative;
  width:30%;
  margin-right:-32%;
  font-size:9pt
}

b, strong {
  font-family:Century-Expanded-Bold;
}

body {
  font-family:Century-Expanded-Regular;
}

.footnote {
  float:footnote;
}

::footnote-call {
  font-size:8pt;
  vertical-align:super;
}

::footnote-marker {
  font-size:8pt;
  vertical-align:super;
}

i {
  font-family:Century-Expanded-Italic;
}

sup {
  font-size:9pt;
}

